<section class="MenuSectionDetails">
  <div class="MenuDetailsContainer">
    <% if menu_active %>
      <%= form_with(url: "/orders", method: "post") do %>
        <% menu_items.all.each do |item| %>
          <li class="MenuItem-item">
            <div class="MenuItem-container">
              <%= check_box_tag 'menu_item_ids[]', item.id %>
              <p class="MenuItem-text"><%= item.name %></p>
              <p class="MenuItem-text">&#8377;<%= item.price %></p>
            </div>
          </li>
        <% end %>
        <%= submit_tag 'Order', class: 'Order-button' %>
      <% end %>
    <% else %>
      <% menu_items.all.each do |item| %>
        <li class="MenuItem-item">
          <%= item.name %> &nbsp;&nbsp;
          &#8377;<%= item.price %>
        </li>
      <% end %>
    <% end %>
  </div>
</section>
