<main class="MenuMain">
  <h1 class="Menu-title">Menus</h1>
  <%= form_with(url: "/menus", method: "post", class: "AddMenu") do %>
    <%= text_field_tag 'name', nil, placeholder: "Ex- Pizza", class: 'AddMenu-text' %>
    <%= submit_tag 'Add', class: 'AddMenu-button' %>
  <% end %>

  <section class="MenuSection">
    <ul>
        <% Menu.all.each do |menu| %>
          <li class="Menu-item">
            <%= menu.id %> | <%= menu.name %>
          </li>
        <% end %>
    </ul>
  </section>

</main>
