<main class="MenuMain">
  <h1 class="Menu-title">Menus</h1>
  <% if @current_user.is_owner %>
    <%= form_with(url: "/menus", method: "post", class: "AddMenu") do %>
      <%= text_field_tag 'name', nil, placeholder: "Ex- Pizza", class: 'AddMenu-text' %>
      <%= submit_tag 'Add', class: 'AddMenu-button' %>
    <% end %>
  <% end %>

  <section class="MenuSection">
    <% Menu.all.each do |menu| %>
      <% if menu.active %>
        <p>ACTIVE</p>
      <% end %>
        <%= render partial: "menu-items-section", locals: {
          menu_title: menu.name,
          menu_items: menu.menu_items
        } %>
        <%= form_with(url: "/menus/#{menu.id}", method: "put") do %>
          <%= submit_tag 'Mark as active', class: 'OrderDelivered-button' %>
        <% end %>
    <% end %>
  </section>

</main>
