<section class="OrderSection">
  <h3 class="Order-title">Your Cart</h3>
  <% Cart.get_current_user_cart_items(@current_user.id).each do |item| %>
    <div class="OrderDetails-wrapper">
      <p><%= item.menu_item_name %> | <%= item.menu_item_price %> | <%= item.menu_item_quantity %></p>
      <%= form_with(url: "/cart_items/#{item.id}", method: "delete") do %>
        <input type="image" src="/delete.png" alt="delete" onclick="this.form.submit()">
      <% end %>
      <%= form_with(url: "/cart_items/#{item.id}/decrease", method: "put") do %>
        <input type="image" src="/minus.png" alt="delete" height="24px" width="24px" onclick="this.form.submit()">
      <% end %>
      <%= form_with(url: "/cart_items/#{item.id}/increase", method: "put") do %>
        <input type="image" src="/add.webp" alt="delete" height="24px" width="24px" onclick="this.form.submit()">
      <% end %>
      <hr>
    </div>
  <% end %>
  <p>Total: <%= Cart.get_current_user_cart(@current_user.id).total %></p>
</section>
