<section class="OrderItemSection">
  <h3 class="OrderItem-details">
    Order ID: <%= order_id %>
    <% if @current_user.is_owner || @current_user.is_clerk %>
      | Customer: <%= customer_name %>
    <% end %>
    | Status: <%= order_status %>
    | Date: <%= order_date %>
  </h3>
  <hr>
  <% order_items.all.each do |item| %>
    <div class="OrderItem-container">
      <p class="OrderItem-item"><%= item.menu_item_name %></p>
      <p class="OrderItem-item"><%= item.quantity %> * &#8377; <%= item.menu_item_price %></p>
    </div>
  <% end %>
</section>
<div class="OrderItem-container">
  <h3 class="OrderItem-details">Total:</h3>
  <h3 class="OrderItem-details"><%= order_total %></h3>
</div>
