<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="Navbar">
      <h2 class="Navbar-brand">COCO Cafe</h2>
      <ul class="Navbar-container">
        <% if @current_user %>
          <li class="Navbar-item"><%= link_to "Menu", menus_path %></li>
          <% if @current_user.is_owner %>
            <li class="Navbar-item"><%= link_to "Menu Items", menu_items_path %></li>
            <li class="Navbar-item"><%= link_to "Orders", orders_path %></li>
            <li class="Navbar-item"><%= link_to "Users", users_path %></li>
          <% else %>
            <li class="Navbar-item"><%= link_to "Your Orders", orders_path %></li>
          <% end %>
          <% if @current_user.avatar.attached? %>
            <li class="Navbar-item">
              <%= cl_image_tag(@current_user.avatar.key, :effect=>"sharpen:100", :height=>42, :radius=>30, :width=>42, :crop=>"scale", :format=>"PNG") %>
            </li>
          <% end %>
          <li class="Navbar-item"><%= link_to "Sign-out", destroy_session_path, method: "delete" %></li>
        <% else %>
          <li class="Navbar-item"><%= link_to "Home", "/" %></li>
          <li class="Navbar-item">
            <div class="Navbar-item-highlight">
              <%= link_to "Sign-up", new_user_path %>
            </div>
          </li>
          <li class="Navbar-item"><%= link_to "Sign-in", new_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <% if @current_user %>
      <nav class="UserInformationBar">
        <h2 class="UserInformationBar-text">Welcome, <%= @current_user.name %> (<%= @current_user.role %>)</h2>
      </nav>
    <% end %>

    <% if flash[:error] %>
      <p class="FlashError">
        <%= flash[:error] %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
